/*
	opal
*/
@media screen and (max-width: 500px) {
	body {
		font-size: .8em;
	}
}

body {
	text-align: center;
	font-family: 'Lato', sans-serif;
	margin: 0;
}

.app_wrapper {
	width: 90%;
	max-width: 600px;
	margin: 3em auto;
}

.section {
	margin-top: 3em;
}

header  {
	background: #a2c4c9	;
	padding: 5em 5%;
	color: white;
}
h2 {
	text-transform: uppercase;
}
header h1 {
	font-size: 2.3em;
	margin: 0;
	margin-bottom: .3em;
	text-transform: uppercase;
}

header p {
	font-size: 1.5em;
	margin: 0;
	color: ;
}

#btn {
	border: none;
	outline: none;
	font-size: 1em;
	border-radius: 5px;
	background: #a2c4c9;
	color: white;
	text-transform: uppercase;
	box-shadow: 4px 4px 4px #ccc;
	min-width: 200px;
}

#btn:hover {
	cursor: pointer;
	background: black;
}

#btn a {
	text-decoration: none;
	display: inline-block;
	padding: 1em 2em;
}

#btn a:link, #btn a:visited, #btn a:active {
	color: white;
}

#btn a:active {
	box-shadow: 0;
	color: #ccc;
}

#ul {
	margin: 0;
	padding: 0;

}

#ul li {
	list-style: none;
	font-size: 1.6em;
	color: gray;
	margin: .5em 0;
	/*padding: .5em 0;*/
	border-radius: 5px;
}

.hide {
	display: none;
}

#later:checked ~ select {
	display: inline-block;
}