/* 
Base
 */

body {
	text-align: center;
	font-family: 'Nunito', sans-serif;
	margin: 0;
}

h2 {
	text-transform: uppercase;
	color: #2e2e2e;
	font-size: 1.7em;
	font-weight: normal;
}

strong {
	font-weight: normal;
}

ul {
	margin: 0;
	padding: 0;
}

li {

}

.app_title {
	font-size: 2.4em;
	margin: 0 auto;
	margin-bottom: .3em;
	width: 90%;
	text-transform: uppercase;
}

.app_subtitle {
	font-size: 1.7em;
	margin: 0;
	color: ;
}

/* 
Layout
 */

.app_wrapper {
	width: 90%;
	max-width: 600px;
	margin: 3.5em auto;
}

.section {
	margin-top: 3em;
}

.app_header  {
	background: #a2c4c9;
	padding: 4em 0;
	color: white;
}

/* 
Modules
 */

.hide {
	display: none;
}

#search {
	border: none;
	outline: none;
	font-size: 1.2em;
	border-radius: 2px;
	background: #a2c4c9;
	color: white;
	text-transform: uppercase;
	box-shadow: 1px 1px 1px #ccc;
	min-width: 250px;
	margin-top: 2em;
}

#search:hover {
	cursor: pointer;
	box-shadow: 4px 4px 4px #ccc;
}

#search:active {
	box-shadow: 1px 1px 1px #ccc;
}

#search a {
	text-decoration: none;
	display: inline-block;
	padding: 1em 2em;
}

#search a:link, #search a:visited, #search a:active {
	color: white;
}

#search a:active {
	box-shadow: 0;
	color: #ccc;
}

#ul li {
	box-sizing: border-box;
	list-style: none;
	font-size: 1.6em;
	color: gray;
	margin-bottom: .8em;
	/*padding: .5em 0;*/
	border-radius: 5px;
	background: #a2c4c9;
	padding: 1em;
	color: white;
}

#now_label, #later_label {
	text-transform: uppercase;
	margin-left: 5px;
}

#now:checked ~ label, #later:checked ~ label {
	color: #a2c4c9;
}
#later:checked ~ select {
	display: block;
}

.searchOption input, .searchOption label, .timeSelect {
	font-size: 1.3em;
}

.timeSelect {
	text-align: center;
	width: 150px;
	margin: 1em auto;
	background: white;
	outline: #a2c4c9;
	padding: .5em .7em;
}